body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

h1 {
    color: #ccc;
}

#header {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(50, 10px);
    grid-template-rows: repeat(50, 10px);
    margin: 20px;
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    background-color: rgb(37, 37, 37);
}

.cell.alive {
    background-color: #000;
    animation: changeColor 10s forwards;
}

.buttons {
    border: #ffff 3px;
    border-radius: 16px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

@keyframes changeColor {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: blue;
    }

    100% {
        background-color: purple;
    }
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
