body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

h1 {
    color: #ccc;
}

#page {
    display: flex;
}

#header {
    text-align: center;
}

#rules {
    border: #ffff 5px solid;
    margin-bottom: 100px;
    margin-top: 75px;
    margin-left: 300px;
}

#lifegame {
    margin-right: 300px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(50, 10px);
    grid-template-rows: repeat(50, 10px);
    margin: 20px;
}

#buttons {
    display: flex;
    justify-content: center;
}

#slider {
    display: flex;
    justify-content: center;
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    background-color: rgb(37, 37, 37);
}

.cell.alive {
    background-color: #000;
    animation: changeColor 10s forwards;
}

.buttons {
    border: #ffff 3px;
    border-radius: 16px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.ruletext {
    color:white;
}

@keyframes changeColor {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: blue;
    }

    100% {
        background-color: purple;
    }
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

details > summary {
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }
  
  details > p {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }
