body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

#page {
    display: flex;
}

#header {
    text-align: center;
}

#rules {
    position: static;
    border: #ffff 5px solid;
    margin-bottom: 100px;
    margin-top: 75px;
    margin-left: 300px;
    padding: 10px;
}

#lifegame {
    margin-right: 0px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(50, 10px);
    grid-template-rows: repeat(50, 10px);
    margin: 20px;
}

#buttons {
    display: flex;
    justify-content: center;
}

#slider {
    display: flex;
    justify-content: center;
}

#legend {
    margin-top: 60px;
    margin-right: 300px;
}

#legendbox {
    padding-top: 40px;
    padding-bottom: 100px;
    background: rgb(118,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 10%, rgba(255,255,0,1) 25%, rgba(0,128,74,1) 50%, rgba(8,18,162,1) 75%, rgba(128,0,128,1) 90%); 
}

.cell {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    background-color: rgb(37, 37, 37);
}

.cell.alive {
    background-color: #000;
    animation: changeColor 10s forwards;
}

.buttons {
    border: #ffff 3px;
    border-radius: 16px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

@keyframes changeColor {
    0% {
        background-color: red;
    }

    25% {
        background-color: #ffff00;
    }

    50% {
        background-color: #00804a;
    }

    75% {
        background-color: #0812a2;
    }

    100% {
        background-color: #800080;
    }
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

details > summary {
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }
  
  details > p {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }
